.DS_Store
._.DS_Store
._*
.DS*
__pycache__/
.ipynb_checkpoints/
*.fuse*
/.idea
/venv
/example-analysis/1038*
/example-analysis/combined*
/example-data/diamond_2021/
/example-data/diamond_2017/
/example-data/1038*
/example-data/raw*
/example-results/1038*
/example-results/combined*
/example-results/texture*
